{% extends 'main.html' %} {% block body_block %} {% load static %}
<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
  style="width:50%;margin:auto;"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="{% static '/homepage/images/sample2.jpg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static '/homepage/images/sample1.jpg' %}"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img src="{% static '/homepage/images/sample2.jpg' %}" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div
  style="
    margin-top: 10px;
    text-align: center;
    background-color: beige;
    width: 100%;
    height: 50px;
  "
>
  <h4 style="">We are Providing 50% Offere on All Products</h4>
</div>

<div class="container">
  <div class="row">
    {% for w_item in watches_t %}
    <!-- Card Section -->
    <div class="col-4">
      <div class="card" style="">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{w_item.name}}</h5>
          <p class="card-text">{{w_item.description}}</p>
          <p class="card-text">{{w_item.price}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
